<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Welcome!</h1>
    
    <div class="container">
        <p>Please enter your text message along with the recipient's phone number:</p>
        <form class="form" action="/" method="post">
                Message Template: <input name = "messages" type="text"><br><br>
                Data: <textarea name = "csv_data"></textarea> <br>

            
            <br>
            <input class="submitBtn" name = "Submit" type="submit"><br><br>
        </form>

    </div>

</body>
</html>

<style>
</style>